# http://editorconfig.org

root = true

[*]
charset = utf-8
continuation_indent_size = 4
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true

[*.{js,html,json,css,sass,scss,yml}]
indent_size = 2
tab_width = 2

[*.md]
trim_trailing_whitespace = false

[*.bat]
indent_style = tab
end_of_line = crlf

[LICENSE]
insert_final_newline = false

[Makefile]
indent_style = tab

[**/vendor/**]
indent_style = ignore
indent_size = ignore

[**.min.js]
indent_style = ignore
insert_final_newline = ignore
