$RECYCLE.BIN/
*$py.class
*,cover
*.cab
*.css
*.css.map
*.egg
*.egg-info/
*.iml
*.iws
*.lnk
*.log
*.manifest
*.mo
*.msi
*.msm
*.msp
*.pid
*.pot
*.py[cod]
*.pyc
*.seed
*.so
*.spec
*~
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.bower-cache
.bower-registry
.bower-tmp
.cache
.coverage
.coverage.*
.directory
.DocumentRevisions-V100
.DS_Store
.eggs/
.env
.fseventsd
.fuse_hidden*
.grunt
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.lock-wscript
.LSOverride
.node_repl_history
.npm
.Python
.python-version
.ropeproject
.sass-cache/
.scrapy
.settings/
.Spotlight-V100
.spyderproject
.TemporaryItems
.tox/
.Trash-*
.Trashes
.venv
.VolumeIcon.icns
.vscode/
.webassets-cache
out/
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
__pycache__/
atlassian-ide-plugin.xml
bower_components
build/
build/Release
celerybeat-schedule
com_crashlytics_export_strings.xml
coverage
coverage.xml
crashlytics-build.properties
crashlytics.properties
db.sqlite3
Desktop.ini
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
ehthumbs.db
env/
ENV/
fabric.properties
htmlcov/
Icon
instance/
jspm_packages
lib-cov
lib/
lib64/
local_settings.py
logs
media
Network Trash Folder
node_modules
nosetests.xml
npm-debug.log*
parts/
pids
pip-delete-this-directory.txt
pip-log.txt
pip-selfcheck.json
pyvenv.cfg
sdist/
target/
Temporary Items
Thumbs.db
var/
venv/
